<td>{{ result.idCentro.centro }}</td>
<td>{{ result.nit }}</td>
<td>{{ result.nombreAsociado }}</td>
<td>{{ result.email }}</td>
<td>{{ result.codigo }}</td>
<td>{{ result.nombreDrogueria }}</td>
<td>{{ result.emailDrogueria }}</td>
<td>{{ result.ciudad }}</td>
<td>{{ result.departamento }}</td>
<td>{{ result.direccion }}</td>
<td>{{ result.telefono }}</td>