<td>{{ result.idCentro.centro }}</td>
<td>{{ result.codigo }}</td>
<td>{{ result.nombre }}</td>
<td>{{ result.cedula }}</td>
<td>{{ result.direccion }}</td>
<td>{{ result.telefono }}</td>
<td>{{ result.ciudad }}</td>
<td>{{ result.departamento }}</td>
<td align="center">{% if result.public == 1 %}Si{% else %}No{% endif %}</td>


